 .purple-color{color:#8845f7;}
 body{font-family:sans-serif ;
 color:#777777 ;
 line-height:26 px ;
}
.primary-btn{
 color:white ;
 background-color:#8845f4
 padding:13 px 42 px ;
 border-radius:20 px ;
 text-decoration:none ;}
.container{
 padding:5% ;
 display:inline-block
  ;}
.black-color{color:#8845f9;}
body{font-family:sans-serif ;
color:#777778;
line-height:26 px ;}
